# Laravel
/backend/vendor/
/backend/.env
/backend/storage/logs/
/backend/storage/framework/
/backend/bootstrap/cache/

# React / Node
/frontend/node_modules/
/frontend/.env
/frontend/dist/

# OS
.DS_Store
Thumbs.db